
<div class="home">


<div class="container">
<div class="panel panel-success">
  
  
  <div class="panel-heading">

    <div class="col-md-8">
      IS GOOD
    </div>
    <div class="col-md-4">
   <Button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></Button>
   <Button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></Button>
    </div>
  </div>
  </div>

<div class="panel panel-success">
  
  
  <div class="panel-heading">

    <div class="col-md-8">
      Lucas Oppal
    </div>
    <div class="col-md-4">
   <Button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></Button>
   <Button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></Button>
    </div>
  </div>
  </div>


</div>
</div>

